<!DOCTYPE html>
<html>
  <head>
    <title>OpenAQ Air Quality USA Map</title>
    <meta name="description" content="Air Quality US Map">
    <meta name="keywords" content="Air Quality US Map">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/index.css') }}"
  </head>
  <div id="toolbar">
    <div class="button">
      <select name="params" id="params-select" class="button-child">
      <option selected disabled>filter parameter</option>
       {%for i in range(1, jsoninfo[0] + 1)%}
          <option value="{{ jsoninfo[i] }}">{{ jsoninfo[i] }}</option>
        {%endfor%}
      </select>
    </div>
    <div class="button">
      <form action="/data_table">
        <button class="button-child" type="submit">View Data Table</button>
      </form>
    </div>
    <div class="button">
      <span class="button-child">Sample Size</span>
    </div>
  </div>
  <body style="background-color: black;">
    <div id="map-container">
      <div id="map">
      </div>
    </div>
  </body>
  <script src="https://d3js.org/d3.v3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="../static/js/datamaps.usa.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script type='text/javascript' src='../static/js/maptools.js'></script>
  <script>



  /*
  TODO: *Create a toolbar that will hold buttons and dropdown boxes
            *make an interface where each option can overlap and make combos

            *create a filter paramaters
              *add a select button for paramaters
              *use flask to get json_info for parameters
              *call function remapFilteredBubbles() onchange

            *create a value threshold tool
              *javascript remapThresholdBubbles()

            *filter by state and rescope to that state
              *can be done with javascript
              *might want to consider some caching technique prevent slow scope changing

            *creat circle select tool that will show GUI with list of sites within that radius
              *can use flask to add table rows of sites to an html element display=none/show
              *use AJAX requests to interact with Flask interface
              *split up the functions and have the home page redirect to the main function
        *do a color gradient algorithm instead of discrete intervals
*/

  var map;
  var mapElem = document.getElementById('map');
  const DATA = getDataPoints();
  const DEFAULTSCOPE = 'usa';


  //Event listeners
  $(document).ready(initMap(DEFAULTSCOPE, DATA));
  window.addEventListener('resize', function (event) {
    map.resize();
  }, false);
  window.addEventListener('change', remapFilteredBubbles);

  //main function for creating the map. changes map global variable
  function initMap(scope, dataPoints) {

    map = new Datamap({
      element: document.getElementById('map'),
      scope: 'usa',
      highlightonhover: false,

      fills: {
        defaultFill: 'rgba(0,0,0,1)',
        'LOW': '#69b34c',
        'MIDLOW': '#acb334',
        'MID': '#fab733',
        'MIDHIGH': '#ff8e15',
        'HIGH': '#ff4e11',
      },

      data: {
        'LOW': { fillKey: 'LOW' },
        'MIDLOW': { fillKey: 'MIDLOW' },
        'MID': { fillKey: 'MID' },
        'MIDHIGH':{ fillKey: 'MIDHIGH' },
        'HIGH': { fillKey: 'HIGH' }
      },

      geographyConfig: {
        popuponhover: true,
        highlightonhover: false,
        highlightFillColor: '#000000',
        borderColor: '#ffffff',
        highlightBorderColor: '#ffffff',
        borderWidth: 0.3,
      },

      responsive: true,
    });
    mapElem.style['padding-bottom'] = '45%';
    remapDefaultBubbles(dataPoints);
    restyleBubbles();
  }

  //returns bubbles formed from json recieved from server
  function getDataPoints() {
    //cleaning json content
    var data = JSON.parse('{{ jsoncontent | tojson | safe }}');
    return formBubblesFromData(data);
  }

  //returns the parameters from the jsoninfo sent from server
  function gerParamsFromData() {
    var info = JSON.parse('{{ jsoninfo | tojson | safe }}')
    var params = [];
    for (id in info) {
      params.push(info[id]);
    }
    return params;
  }

  </script>
</html>
