<!DOCTYPE html>
<html>
  <head>
    <title>OpenAQ Air Quality USA Map</title>
    <meta name="description" content="Air Quality US Map">
    <meta name="keywords" content="Air Quality US Map">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/table.css') }}"
  </head>
  <body>
    <iframe src="table.html" id='table-cont'>
      <table id='data-table'>
        <tr id='header'>
          <th>Name</th>
          <th>Parameter</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Level</th>
          <th>Date</th>
        </tr>
        {%for i in jsoncontent%}
          <tr class='data-row' style='color: white;'>
            <th>{{jsoncontent[i]['location']['loc']}}</th>
            <th>{{jsoncontent[i]['params'][0]}}</th>
            <th>{{jsoncontent[i]['location']['coords'][0]}}</th>
            <th>{{jsoncontent[i]['location']['coords'][1]}}</th>
            <th>{{jsoncontent[i]['values']}}</th>
            <th>{{jsoncontent[i]['date']}}</th>
          </tr>
        {%endfor%}
      </table>
    </iframe>
  </body>
</html>
